<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<header th:insert="_blocks/header :: header"></header>



<main role="main">

    <div class="container">
        <h2 align="center">Products in Cart</h2>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>
                    Name
                    <a class="btn btn-dark btn-sm" href="/tools/sortbynameasc" role="button">↓</a>
                    <a class="btn btn-dark btn-sm" href="/tools/sortbynamedesc" role="button">↑</a>
                </th>
                <th>Category</th>
                <th>Description</th>
                <th>
                    Publication Date
                    <a align="right" class="btn btn-dark btn-sm" href="/tools/sortbypublicationdateasc" role="button">↓</a>
                    <a align="right" class="btn btn-dark btn-sm" href="/tools/sortbypublicationdatedesc" role="button">↑</a>
                </th>

                <th>Available Quantity</th>

                <th>
                    Price
                    <a class="btn btn-dark btn-sm" href="/tools/sortbypriceasc" role="button">↓</a>
                    <a class="btn btn-dark btn-sm" href="/tools/sortbypricedesc" role="button">↑</a>
                </th>
                <th>Needed Quantity</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each ="product : ${products}">
                <td th:utext="${product.getKey().getName()}" />
                <td th:utext="${product.getKey().getCategory().getName()}" />
                <td th:utext="${product.getKey().getDescription()}" />
                <td th:utext="${product.getKey().getPublicationDate()}" />
                <td th:utext="${product.getKey().getQuantity()}" />
                <td th:utext="${product.getKey().getPrice()}" />
                <td th:utext="${product.getValue()}" />
                <td>
                    <a th:href="@{'/user/cart/removeproduct/{productId}'(productId=${product.getKey().getId()})}" class="col-md-1"
                       sec:authorize="hasAuthority('USER')">
                        <button type="button" class="btn btn-danger btn-sm">Remove</button>
                    </a>
                </td>
            </tr>
            </tbody>

        </table>

        <div>
        <p align="right" th:text="'Total sum: ' + ${totalPrice}"></p>

        <a th:align="right" th:href="@{'/user/cart/order'}" class="col-md-1"
           sec:authorize="hasAuthority('USER')">
            <button type="button" class="btn btn-success" value="Order" style="float: right">Checkout</button>
        </a>
        </div>

    </div>

    <hr>

    <div class="container">
        <h2 align="center">Waiting For Approval</h2>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Category</th>
                <th>Description</th>
                <th>Order Id</th>
                <th>Order Date</th>
                <th>Is Order Approved</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each ="notApprovedOrderedProduct : ${notApprovedOrderedProducts}">
                <td th:utext="${notApprovedOrderedProduct.getName()}" />
                <td th:utext="${notApprovedOrderedProduct.getQuantity()}" />
                <td th:utext="${notApprovedOrderedProduct.getPrice()}" />
                <td th:utext="${notApprovedOrderedProduct.getCategory().getName()}" />
                <td th:utext="${notApprovedOrderedProduct.getDescription()}" />
                <td th:utext="${notApprovedOrderedProduct.getOrder().getId()}" />
                <td th:utext="${notApprovedOrderedProduct.getOrder().getOrderDate()}" />
                <td th:utext="${notApprovedOrderedProduct.getOrder().isApproved()}" />
            </tr>
            </tbody>

        </table>

    </div>

    <hr>

    <div class="container">
        <h2 align="center">Order History</h2>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Category</th>
                <th>Description</th>
                <th>Order Id</th>
                <th>Order Date</th>
                <th>Is Order Approved</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each ="approvedOrderedProduct : ${approvedOrderedProducts}">
                <td th:utext="${approvedOrderedProduct.getName()}" />
                <td th:utext="${approvedOrderedProduct.getQuantity()}" />
                <td th:utext="${approvedOrderedProduct.getPrice()}" />
                <td th:utext="${approvedOrderedProduct.getCategory().getName()}" />
                <td th:utext="${approvedOrderedProduct.getDescription()}" />
                <td th:utext="${approvedOrderedProduct.getOrder().getId()}" />
                <td th:utext="${approvedOrderedProduct.getOrder().getOrderDate()}" />
                <td th:utext="${approvedOrderedProduct.getOrder().isApproved()}" />
            </tr>
            </tbody>

        </table>

    </div>

</main>





<header th:insert="_blocks/footer :: footer"></header>


</body>
</html>