<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<header th:insert="_blocks/header :: header"></header>



<main role="main">

    <div class="container">
        <h2 align="center">Products</h2>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>
                    Name
                    <a class="btn btn-dark btn-sm" href="/tools/sortbynameasc" role="button">↓</a>
                    <a class="btn btn-dark btn-sm" href="/tools/sortbynamedesc" role="button">↑</a>
                </th>
                <th>Quantity</th>
                <th>
                    Price
                    <a class="btn btn-dark btn-sm" href="/tools/sortbypriceasc" role="button">↓</a>
                    <a class="btn btn-dark btn-sm" href="/tools/sortbypricedesc" role="button">↑</a>
                </th>
                <th>Category</th>
                <th>Description</th>
                <th>
                    Publication Date
                    <a align="right" class="btn btn-dark btn-sm" href="/tools/sortbypublicationdateasc" role="button">↓</a>
                    <a align="right" class="btn btn-dark btn-sm" href="/tools/sortbypublicationdatedesc" role="button">↑</a>
                </th>
                <th>Action</th>


            </tr>

            </thead>

            <tbody>
            <tr th:each ="product : ${products}">
                <td th:utext="${product.name}" />
                <td th:utext="${product.quantity}" />
                <td th:utext="${product.price}" />
                <td th:utext="${product.category.getName()}" />
                <td th:utext="${product.description}" />
                <td th:utext="${product.publicationDate}" />
                <td>
                    <a th:href="@{'/user/cart/removeproduct/{productId}'(productId=${product.id})}" class="col-md-1"
                       sec:authorize="hasAuthority('USER')">
                        <button type="button" class="btn btn-primary btn-sm">Remove</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>





<header th:insert="_blocks/footer :: footer"></header>


</body>
</html>