<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Main's Main Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="_blocks/header :: header"></header>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 th:text="'Hello, this is ' + ${title} + '!'">Hello, world!</h1>
            <p>My online store info</p>
            <p><a class="btn btn-primary btn-lg" href="/user/" role="button">Let's GO! »</a></p>
        </div>
    </div>

</main>

<header th:insert="_blocks/footer :: footer"></header>

</body>
</html>